<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="591476640097-nsi0vab8e6dd3lgrsgfm25iv2db45l23.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<h1>Register</h1>

<form action="/create" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<p>
		<label>First Name: </label>
		<input type="text" name="user[first_name]">
	</p>
	<p>
		<label>Last Name: </label>
		<input type="text" name="user[last_name]">
	</p>
	<p>
		<label>Email: </label>
		<input type="email" name="user[email]">
	</p>
	<p>
		<label>City: </label>
		<input type="text" name="user[city]"><%= select_tag "state", options_for_select(us_states), :name => "user[state]" %>
	</p>
	<p>
		<label>Password: </label>
		<input type="password" name="user[password]">
		<h6>*Password must be at least 7 characters in length</h6>
	</p>
	<p>
		<label>Password Confirmation: </label>
		<input type="password" name="user[password_confirmation]">
	</p>	
	<input type="submit" value="Register">
</form>


<h1> Login </h1>

<form action="/login" method="post">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>
		<label>Email:</label>
		<input type="text" name="email">
	</p>
	<p>
		<label>Password:</label>
		<input type="password" name="password">
	</p>
	<p>
		<button>Login</button>
	</p>
</form>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>
