<head>

</head>

<%= stylesheet_link_tag "event_index", "font-awesome.min"%>

<div id="wrapper">
	<header id="header">
		<h1><a href="/events">Meetup</a></h1>
		<h1><%=current_user.first_name%></h1>
			<ul>
			<li><a href="/users/edit">User Settings</a></li>
			<li>
				<% if current_user %>
				<form action="/logout" method="post" id="logout-button" >
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="_method" value="delete" type="hidden">
				<input type="submit" value="Logout" id="logout-button">
				</form>	
				<% end %>
			</li>
			</ul>
	</header>


	<div id="main">


	<h3>Here are some of the events in your state</h3>
		<% @state_events.each{ |event| %>
			<article class="post">
				<header>
					<div class="title">
						<h2><a href="/events/<%=event.id%>"><%=event.name%></a></h2>
						<p><%=event.city%>, <%=event.state%></p>
					</div>
					<div class="meta">
						<time class="published"><%=event.date%></time>
						<a href="/users/<%=event.user_id%>" class="author"><span class="name"><%=find_user(event.user_id).first_name%></span></a>
					</div>
				</header>
				<a href="#" class="image featured"><%= image_tag "pic01"%></a>
				<p><%=event.description%></p>
				<footer>
					<ul class="actions">
						<li><a href="/events/<%=event.id%>" class="button big">View Event</a></li>
					</ul>
					<ul class="stats">
						<% if event.user_id == session[:user_id] %>
							<a href="/events/edit/<%=event.id%>">Edit</a>
							<a href="/events/destroy/<%=event.id%>">Delete</a>
						<% elsif event_join(event.id) %>
							<span>Joining</span>
							<a href="/events/unjoin/<%=event.id%>">Cancel</a>
						<% else %>
							<a href="/events/join/<%=event.id%>">Join</a>
						<% end %>
						<li><p class="icon fa-heart"></p></li>
					</ul>
				</footer>
			</article>
		<% } %>
</div>
	
	<section id="sidebar">

		<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><%= image_tag "logo"%></a>
				<header>
					<h2>Meetup</h2>
					<p>Someone, somewhere, is always doing something. Even if it's nothing.</a></p>
				</header>
			</section>
			<section>
				<h5>Meetups in other cities</h5>
				<div class="mini-posts">
				<% @out_state_events.each{ |event| %>
					<!-- Mini Post -->
					<article class="mini-post">
						<header>
							<h4><a href="/events/<%=event.id%>"><%=event.name%></a></a></h4>
							<p><%=event.date%></p>
							<a href="/users/<%=event.user_id%>"><%=find_user(event.user_id).first_name %>
						</header>
						<a href="#" class="image"><%= image_tag "pic04"%></a>
						<% if event.user_id == session[:user_id] %>
						<a href="/events/edit/<%=event.id%>">Edit</a>
						<a href="/events/destroy/<%=event.id%>">Delete</a>
						<% elsif event_join(event.id) %>
						<span>Joining</span>
						<a href="/events/unjoin/<%=event.id%>">Cancel</a>
						<% else %>
						<a href="/events/join/<%=event.id%>">Join</a>
						<% end %>
					</article>
				<% } %>
				</div>
			</section>
		</section>
	</div>

		<!-- Posts List -->
			<section>
				<div class='new-event-div'>
					<% if flash[:errors]
						flash[:errors].each{ |error| %>
							<p><%=error%></p>
					<% } end %>
					<form action='/events/create' method='post' id="add-event-form">
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<p>Name: <input type='text' name='event[name]'></p>
						<p>Date: <input type='date' name='event[date]' id='date-input-2'></p>
						<p>Time: <input type='time' name='event[time]'></p>
						<p>Location: <input type='text' name='event[city]'>
						<%= select_tag "state", options_for_select(us_states), :name => "event[state]" %>
						</p>
						<p>Description: <input type='text-area' name='event[description]'></p>
						<h3>Google Maps visual aid</h3>
					    <div id="map">
						</div>
							<button>Add Event</button>
						</form>
				</div>

			</section>
	</section>



<script>
$(document).ready(function(){
	$('#date-input-2').datepicker({
		minDate: 0,
		dateFormat: "yy-mm-dd"
	});
})
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
        center: {lat: 44.540, lng: -78.546},
        zoom: 8
    });
  }
</script>

<%= javascript_include_tag "bootstrap.min", "jquery-1.11.0.min", "event_index", "skel.min", "util" %> 


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbJ-FqikBcgmOJsyQY5EEZIoZ9alztTI&callback=initMap"></script>
