<script>
$(document).ready(function(){
	$('#date-input-2').datepicker({
		minDate: 0,
		dateFormat: "yy-mm-dd"
	});
})
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
        center: {lat: 44.540, lng: -78.546},
        zoom: 8
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbJ-FqikBcgmOJsyQY5EEZIoZ9alztTI&callback=initMap"></script>

<style>
	#map {
	    width: 85%;
	    height: 400px;
    }
</style>

<a href='/users/edit'>Settings</a>
<h1>Welcome <%=current_user.first_name%></h1>
<%= image_tag current_user.avatar.url %>

<div id='state-events-div'>
	<h3>Here are some of the events in your state</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>Host</th>
				<th>Action/Status</th>
			</tr>
		</thead>
		<tbody>
		<% @state_events.each{ |event| %>
			<tr>
				<td><a href='/events/<%=event.id%>'><%=event.name%></a></td>
				<td><%=event.date%></td>
				<td><%=event.city%>, <%=event.state%></td>
				<td><a href='/users/<%=event.user_id%>'><%=find_user(event.user_id).first_name%></a></td>
				<td>
				<% if event.user_id == session[:user_id] %>
					<a href="/events/edit/<%=event.id%>">Edit</a>
					<a href="/events/destroy/<%=event.id%>">Delete</a>
				<% elsif event_join(event.id) %>
					<span>Joining</span>
					<a href="/events/unjoin/<%=event.id%>">Cancel</a>
				<% else %>
					<a href="/events/join/<%=event.id%>">Join</a>
				<% end %>
				</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</div>

<div id='out-state-events-div'>
	<h3>Here are some of the events in other states</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Location</th>
				<th>Host</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		<% @out_state_events.each{ |event| %>
			<tr>
				<td><a href='/events/<%=event.id%>'><%=event.name%></a></td>
				<td><%=event.date%></td>
				<td><%=event.city%>, <%=event.state%></td>
				<td><a href='/users/<%=event.user_id%>'><%=find_user(event.user_id).first_name%></td>
				<td>
				<% if event.user_id == session[:user_id] %>
					<a href="/events/edit/<%=event.id%>">Edit</a>
					<a href="/events/destroy/<%=event.id%>">Delete</a>
				<% elsif event_join(event.id) %>
					<span>Joining</span>
					<a href="/events/unjoin/<%=event.id%>">Cancel</a>
				<% else %>
					<a href="/events/join/<%=event.id%>">Join</a>
				<% end %>
				</td>
			</tr>
		<% } %>
		</tbody>
	</table>
</div>

<div id='new-event-div'>
<% if flash[:errors]
	flash[:errors].each{ |error| %>
		<p><%=error%></p>
	<% } 
end %>
	<form action='/events/create' method='post'>
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<p>Name: <input type='text' name='event[name]'></p>
		<p>Date: <input type='date' name='event[date]' id='date-input-2'></p>
		<p>Time: <input type='time' name='event[time]'></p>
		<p>Location: <input type='text' name='event[city]'>
		<%= select_tag "state", options_for_select(us_states), :name => "event[state]" %>
		</p>
		<button>Add Event</button>
	</form>

    <h3>My Google Maps Demo</h3>
    <div id="map">

    </div>

</div>
