
<%= stylesheet_link_tag "event_index", "font-awesome.min"%>

<div id="wrapper">
	<header id="header">
		<h1><a href="/events">Meetup</a></h1>
		<h1><%=current_user.first_name%></h1>
			<ul>
			<li><a href="/users/edit">User Settings</a></li>
			<li>
				<% if current_user %>
				<form action="/logout" method="post" id="logout-button" >
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input name="_method" value="delete" type="hidden">
				<input type="submit" value="Logout" id="logout-button">
				</form>	
				<% end %>
			</li>
			</ul>
	</header>

	<h1>Edit Your Profile</h1>

<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
		<p><%= e %></p>
	<% end %>
<% end %>

	<div class='new-event-div'>	
		<form action="/users/<%= @user.id %>/update" method="post" enctype="multipart/form-data">
		      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		      <input name="_method" value="patch" type="hidden">
		      <fieldset>
		        <legend>Edit User information:</legend>
		        First name:<br>
		        <input type="text" name="user[first_name]" value="<%= @user.first_name %>">
		        <br>
		        Last name:<br>
		        <input type="text" name="user[last_name]" value="<%= @user.last_name %>">
		        <br>
		        Email:<br>
		        <input type="text" name="user[email]" value="<%= @user.email %>">
		        <br>
		        City:<br>
		        <input type="text" name="user[city]" value="<%= @user.city %>">
		        <%= select_tag "state", options_for_select(us_states), :name => "user[state]" %>
		        <input type="file" name="user[avatar]">
		        <input type="submit" value="Update">
		      </fieldset>
		      
		      <a href="/users/<%= @user.id %>">Show</a>
			  <%= link_to "Back", root_path %>
		</form>

	</div>
</div>