<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= stylesheet_link_tag    "default", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1></h1>

	<% if current_user %>
		<form action="/logout" method="post" >
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<input name="_method" value="delete" type="hidden">
		<input type="submit" value="Logout">
		</form>	
	<% end %>
<%= yield %>



</body>
</html>

